@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --mood-color-1: #2d6b5f;
  --mood-color-2: #72e3a6;
  --mood-color-3: #dff4c7;
  --mood-color-4: #edbf98;
  --mood-color-5: #ea3d36;
}

body {
  font-family: "Muli";
  margin: 40px 0;
}

h2 {
  margin-bottom: 0;
}

h4 {
  font-weight: 100;
  margin: 5px 0 20px;
}

p {
  margin: 5px 0;
}
